---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Slabo 27px', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$section-padding: 60px;

$roots-blue-dark: #38A8A5;
$roots-blue-light: #8ACFC6;
$roots-green-light: #A7CE85;
$roots-green-dark: #6ABB63;
$roots-brown-light: #3E2B29;
$roots-brown-dark: #75524A;
$roots-tan: #D3BD9A;

$roots-serif: $base-font-family;
$roots-sans-serif: "Raleway", sans-serif;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting"
;
