<!-- Design & Development by @sodevious, http://sodevio.us -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440px, initial-scale=1">

    <title>Island Roots Foods &mdash; Local fresh fruit and vegetable produce delivery in Nassau, Bahamas, Concierge Service, Yacht Provisioning</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="Island foods, Bahamas foods, Island greens, Island Roots, vegetarian meals, food delivery, vegetables, Bahamas Concierge, Vacation grocery delivery, yacht provisioning, Bahamas purveyors, fresh produce delivery">
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
</head>