// General
// ----------------------------------
body
    font-family: $roots-sans-serif
    color: #505050

.ir-logo
    width: 100%

.section
    border-bottom: 1px solid lighten($roots-blue-light, 20%)
    h2
        text-align: center
        font-size: 2.4em
        padding-bottom: 30px
        font-weight: 200
        color: darken($roots-blue-dark, 20%)

// Homepage
// ----------------------------------
.section-homepage
    padding-top: 30px
    padding-bottom: 20px
    background-attachment: center center
    background-repeat: no-repeat
    background-size: cover

    .section-header
        text-transform: uppercase
        text-align: center
        color: #ffffff
        font-weight: 800
        font-size: 1.5em

    .ir-graphic
        width: 400px
        text-align: center
        padding: 20px
        margin: 0px auto

.section-white
    background-white: white
    padding: $section-padding
    .panel-body,
    .panel-heading
        padding: 20px
    .panel-heading
        text-align: center
    .panel-title
        text-transform: uppercase
        font-weight: 800
        font-size: 1.75em

        small
            display: block
            padding-top: 10px
            font-size: 0.5em
    .panel-body
        li
            font-size: 1.25em
        h2
            margin-bottom: 0px
            padding-bottom: 10px
            font-size: 2em

.section-pricing
    background-repeat: no-repeat
    background-position: bottom
    background-size: cover

    h2
        color: white

    .pricing-box
        background-image: url('/images/wooden-box.png')
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5)
        background-repeat: no-repeat
        background-size: contain
        border-radius: 3px
        text-align: center
        height: 365px
        color: white

    .pricing-heading
        padding-top: 115px
        font-weight: 800
        font-size: 2.4em

    .pricing-small
        -webkit-transform: scale(0.8)
        -ms-transform: scale(0.8)
        -o-transform: scale(0.8)
        transform: scale(0.8)

    .pricing-cost
        font-size: 2.5em

    .pricing-paragraph
        font-size: 1.75em
        line-height: 1.15em
        padding: 38px 100px 20px

    .pricing-delivery
        text-align: center
        font-size: 1.4em
        margin-top: 50px
        font-weight: 600
        margin-bottom: 10px
        color: lighten($roots-green-light, 10%)
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)


.section-order
    .col-xs-4
        padding-left: 30px
        padding-right: 30px
    .section-subheader
        font-weight: 800
        text-transform: uppercase
        text-align: center
        color: $roots-blue-dark
        font-size: 1.5em
    .section-paragraph
        font-size: 1.25em
        line-height: 1.25em

.section-box
    .veggie-box
        width: 100%
    .veggie-list
        padding: 0px

        li
            list-style-type: none
            width: 33%
            float: left
            color: $roots-blue-dark
            font-weight: 600
            text-transform: uppercase
            padding: 8px 0px

.home-mission-statement
    font-size: 1.5em

.subscribe
    padding-top: 40px
    padding-bottom: 40px

    .section-header
        color: $roots-green-dark
        margin-bottom: 30px
        text-align: center
        font-size: 1.65em
        font-weight: 700

    .section-subheader
        font-size: 0.9em
        text-align: center
        text-transform: uppercase
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8)
        color: lighten($roots-green-light, 20%)

    .subscribe-form
        padding-right: 0px

    .btn-primary
        border-color: transparent
        text-transform: uppercase
        background-color: $roots-green-dark

// Panels
// ----------------------------------
.panel-blue
    border-color: $roots-blue-light
    .panel-heading
        border-color: $roots-blue-light
        background-color: $roots-blue-light

    .panel-title
        color: darken($roots-blue-dark, 25%)
        small
            color: darken($roots-blue-dark, 15%)

.panel-green
    border-color: $roots-green-light
    .panel-heading
        border-color: $roots-green-light
        background-color: $roots-green-light

    .panel-title
        color: darken($roots-green-dark, 30%)
        small
            color: darken($roots-green-dark, 15%)

// Backgrounds
// ----------------------------------
.section-bg-grass
    background-image: url('/images/grass.jpg')

.section-bg-peas
    background-image: url('/images/peas.jpg')

.section-bg-park
    background-image: url('/images/park.jpeg')

.section-bg-pineapple
    background-image: url('/images/pineapple.jpeg')
    background-position: center -260px

.section-bg-veggies
    background-image: url('/images/veggies.jpg')
    background-position: center top

.site-title
    font-size: 26px
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left

    &, &:visited
        color: $grey-color-dark

.site-nav
    float: right
    padding-bottom: 25px
    line-height: 56px

    .menu-icon
        display: none

    .page-link
        color: rgba(255, 255, 255, 0.75)
        line-height: $base-line-height

        &:not(:first-child)
            margin-left: 30px

// Blog
// ----------------------------------
.post-list
    margin-left: 0
    list-style: none

    > li
        margin-bottom: $spacing-unit

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-link
    display: block
    font-size: 24px

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1

.post-content
    margin-bottom: $spacing-unit

    h2
        font-size: 32px

    h3
        font-size: 26px

    h4
        font-size: 20px


// Table
// ----------------------------------


.table > thead > tr > td
    text-align: center
    color: $roots-blue-dark
    font-weight: 800
    font-size: 1.1em

.table > tbody > tr > td
    border-top-color: lighten($roots-blue-light, 10%)
    vertical-align: middle

    &.table-highlight-column
        background-color: $roots-blue-dark
        color: #ffffff
        font-size: 1.2em
        border-top-color: $roots-blue-dark
        padding: 18px 0px
        text-transform: uppercase
        font-weight: 100
        text-align: center
        strong
            font-weight: 800



// Footer
// ----------------------------------
.site-footer
    padding: $spacing-unit 0

.footer-heading
    font-size: 18px
    margin-bottom: $spacing-unit / 2